/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */
g

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
    background-color: #4d3699;
}

#stickynavbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.navbartext {
    color: #FFFFFF;	
}

.herosection {
	background-color: #4d3699
}

.image-opacity {
    opacity: 0.5; /* Adjust the opacity value as needed (from 0 to 1) */
}

.containerbackground {
	background: #A82447;
}

.textwhite {
	color: #FFFFFF;
}

.maintext{
	
}

.custombuttonred {
    background-color: #A82447;
}
.custombuttonyellow{
	background-color: #DD9C47;
}
.custombuttonpurple{
	background-color: #4D3699;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.mycolumnstyle{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.backgroundwebsite {
    background-color: #ECE4DB;	
}
.carouselcaptionmine {
    color: #000000;
    font-style: normal;
    font-weight: bold;
}

.carouselblock {
    width: 800px;
    height: 199px;
}

.buttoncustom {
    background-color: #DD9C47;
    color: #FFFFFF;
}

.newboxbottom {
    background-color: #5135A0;
    margin-top: 31px;
    margin-right: 31px;
    margin-bottom: 31px;
    margin-left: 31px;
    padding-top: 100px;
    padding-right: 220px;
    padding-bottom: 200px;
    padding-left: 220px;
    width: 100%;
    height: 50px;
}

.newboxlogo {
    width: 1196px;
	height: 100px;
    background-color: #E9982F;
}

.requesttext {
    color: #000000;
    font-style: normal;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    text-transform: none;
}

.containerprofile {
    background-color: #ECE4DB;	
	
}

.headerprofilepage{
    color: #4D3699;	
}
.backgroundbuttons {
    background-color: #B70645;	
}

.bartext{
    color: #FFFFFF;	
}

.bgpinkish {
    background-color: #A82447;	
}

.backgrounddescription {
    background-color: #FFFFFF;
}

.titlevalues {
    color: #000000;	
}

.descriptionvalues {
	color: #000000;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background-video {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Change text color as needed */
    z-index: 1;
}


header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:#EEE4DA;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') white no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

body{}

.card-style1 {
    box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
}
.border-0 {
    border: 0!important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}
.mb-2-3, .my-2-3 {
    margin-bottom: 2.3rem;
}

.section-title {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}
.text-primary {
    color: #ceaa4d !important;
}
.text-secondary {
    color: #15395A !important;
}
.font-weight-600 {
    font-weight: 600;
}
.display-26 {
    font-size: 1.3rem;
}

@media screen and (min-width: 992px){
    .p-lg-7 {
        padding: 4rem;
    }
}
@media screen and (min-width: 768px){
    .p-md-6 {
        padding: 3.5rem;
    }
}
@media screen and (min-width: 576px){
    .p-sm-2-3 {
        padding: 2.3rem;
    }
}
.p-1-9 {
    padding: 1.9rem;
}

.bg-secondary {
    background: #15395A !important;
}
@media screen and (min-width: 576px){
    .pe-sm-6, .px-sm-6 {
        padding-right: 3.5rem;
    }
}
@media screen and (min-width: 576px){
    .ps-sm-6, .px-sm-6 {
        padding-left: 3.5rem;
    }
}
.pe-1-9, .px-1-9 {
    padding-right: 1.9rem;
}
.ps-1-9, .px-1-9 {
    padding-left: 1.9rem;
}
.pb-1-9, .py-1-9 {
    padding-bottom: 1.9rem;
}
.pt-1-9, .py-1-9 {
    padding-top: 1.9rem;
}
.mb-1-9, .my-1-9 {
    margin-bottom: 1.9rem;
}
@media (min-width: 992px){
    .d-lg-inline-block {
        display: inline-block!important;
    }
}
.rounded {
    border-radius: 0.25rem!important;
}

body{
    background-color: #f4f7f6;
}
.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 20px;
    border-bottom: 2px solid #fff
}

.chat .chat-history ul {
    padding: 0;
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background-color: #A82447;
    color: #FFFFFF;
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background-color: #A82447;
    text-align: right;
    color: #FFFFFF;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat .chat-message {
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}

/* Custom CSS for Matchmaker */

/* Navbar styling */
.matchmaker-navbar {
  background-color: #4d3699; /* TeamUp purple */
}

.matchmaker-navbar-brand img {
  filter: brightness(0) invert(1); /* Invert logo colors for better visibility */
}

.matchmaker-nav-link {
  color: #ece4db; /* Light beige */
}

.matchmaker-nav-link:hover {
  color: #a82447; /* TeamUp red */
}

/* Form styling */
.matchmaker-form-label {
  color: #4d3699; /* TeamUp purple */
}

.matchmaker-form-control {
  border-color: #a82447; /* TeamUp red */
}

.matchmaker-form-select {
  border-color: #a82447; /* TeamUp red */
}

/* Button styling */
.matchmaker-btn-primary {
    background-color: #a82447; /* TeamUp red */
    border-color: #a82447; /* TeamUp red */
    color: #FFFFFF;
}

.matchmaker-btn-primary:hover {
  background-color: #a82447; /* TeamUp red */
  border-color: #a82447; /* TeamUp red */
}

/* Card styling */
.matchmaker-card {
  margin-top: 20px;
  background-color: #a82447;
  border-color: #dd9c47; 
}
.matchmaker-card2 {
  margin-top: 20px;
  background-color: #dd9c47;
  border-color: #a82447; 
}

.matchmaker-card-title {
  color: #FFFFFF; /* TeamUp purple */
}

.matchmaker-card-text {
  color: #FFFFFF; /* TeamUp purple */
}

.matchmaker-card-link {
  color: #a82447; /* TeamUp red */
}

.matchmaker-card-link:hover {
  color: #4d3699; /* TeamUp purple */
}

/* Footer styling */
.matchmaker-footer {
  background-color: #ece4db; /* Light beige */
  color: #4d3699; /* TeamUp purple */
  text-align: center;
  padding: 20px 0;
}

.matchmaker-footer a {
  color: #4d3699; /* TeamUp purple */
}

.matchmaker-footer a:hover {
  color: #a82447; /* TeamUp red */
}

/* For You page styles */
.foryou-team-card {
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
}

.foryou-team-card-body {
    color: #ece4db;
}

.foryou-footer {
    color: #a82447;
}

.foryou-team-card-color{
    background-color: #4D3699;	
}

.foryou-person-card-color{
    background-color: #A82447;	
}

.team-profile-cards{
	background: #a82447;
}

.team-profile-item {
  flex: 0 0 auto;
  width: 33.33%;
  padding: 0 10px;
  text-align: center;
}

.team-profile-image {
  width: 100%;
  border-radius: 50%;
}

.team-profile-title {
  margin-top: 10px;
  font-size: 20px;
}

.team-profile-description {
  margin-top: 5px;
  color: #666;
}

.team-profile-learn-more {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.team-profile-learn-more:hover {
  background-color: #fff;
  color: #333;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: transparent;
  border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}
/* Styles for square images */
.square-image {
  height: 100%; /* Set the height to 100% of the width */
  object-fit: cover; /* Ensure the image covers the entire space */
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}
  
.circle-container {
  width: 100px; /* Set the width and height to your desired size */
  height: 100px;
  border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
  overflow: hidden; /* Hide overflowing parts of the image */
  float: left; /* Float the image to the left */
  margin-right: 20px; /* Add margin to create space between the image and text */
	
}

.circle-container img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
	
}
.text-container {
  overflow: hidden; /* Clear the float */
  flex: 1;
  flex-direction: column;
  justify-content: center;
	
}
.corporatepagetitles{
	color: #4D3699;
}
.corporatepagesubtitles{
	color: #a82447;
}
.custombuttonred2 {
	background: #A82447;
    position: absolute;
    bottom: 20px; /* Adjust this value as needed */
    left: 50%;
    transform: translateX(-50%);
}
.backgroundsubs{
	background: #A82447;
}

.containersubs{
    width: 1000px;
    height: 400px;
    border-radius: 25px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.container-subs-left,
.container-subs-right {
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.container-subs-left {
    background-color: #4d3699;
}
.container-subs-right {
    background-color: #dd9c47;
}

.container-full-width {
    border-radius: 15px;
    background-color: #a82447;
    padding: 20px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}
.container-content {
    max-width: 1200px;
    margin: 0 auto;
}
